{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Job Vacancies</h2>
    <div class="row">
      {% for vacancy in vacancies %}
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ vacancy.vacancy_title }}</h5>
            <p class="card-text">{{ vacancy.description }}</p>
            <a href="{{ vacancy.link }}" class="btn btn-primary btn-sm float-end">Apply Now</a>
          </div>
        </div>
      </div>
      {% empty %}
          <li>No vacancies found.</li>
      {% endfor %}
    </div>
</div>  
{% endblock %}