{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    User Profile
                </div>
                <div class="card-body">
                    <form action="/profile/" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" name="first_name" class="form-control{% if form.first_name.errors %}is-invalid{% endif %}" id="first_name"required>
                            <span class="invalid-feedback" role="alert">
                                {{ form.first_name.errors.0 }}
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" name="last_name" class="form-control{% if form.last_name.errors %}is-invalid{% endif %}" id="last_name"required>
                            <span class="invalid-feedback" role="alert">
                                {{ form.last_name.errors.0 }}
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control{% if form.username.errors %}is-invalid{% endif %}" id="username" required>
                            <span class="invalid-feedback" role="alert">
                                {{ form.username.errors.0 }}
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control{% if form.email.errors %}is-invalid{% endif %}" id="email" required>
                            <span class="invalid-feedback" role="alert">
                                {{ form.email.errors.0 }}
                            </span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Skills</label>
                            <select name="skills" id="skills" multiple onchange="toggleOtherSkills()" class="form-control">
                                <option value="1">Cloud Computing</option>
                                <option value="2">Cybersecurity</option>
                                <option value="3">Data Analysis</option>
                                <option value="4">Database Management</option>
                                <option value="5">Software Development</option>
                                <option value="6">Web Development</option>
                                <option value="7">Python</option>
                                <option value="8">Django</option>
                                <option value="9">Network Administration</option>
                                <option value="10">UI/UX design</option>
                                <option value="11">Others</option>
                            </select>
                        </div>
                        <div class="mb-3" id="otherSkills" style="display: none;">
                            <label for="otherSkills" class="form-label">Other Skills</label>
                            <input type="text" name="otherSkills" class="form-control" id="otherSkills">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#skills').select2();
        });

        function toggleOtherSkills() {
            var selectElement = document.getElementById("skills");
            var otherSkills = document.getElementById("otherSkills");
            var otherSkillsSelected = Array.from(selectElement.selectedOptions).some(option => option.value === "11");

            if (otherSkillsSelected) {
                otherSkills.style.display = "block";
            } else {
                otherSkills.style.display = "none";
            }
        }
    </script>

{% endblock %}